* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/resources/images/balambwallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.911);
}

.header div nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 3px 14px 4px;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(68, 122, 134, 0.63);
}
.header div nav img {
  width: 200px;
}
.header div nav ul {
  display: flex;
  width: 700px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.header div nav ul li {
  font-weight: bolder;
  list-style: none;
  color: white;
}
.header div nav ul a {
  color: white;
  text-decoration: none;
}
.header div nav ul a :hover {
  color: rgb(72, 177, 166);
  transition: all 0.4s;
}

.main {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px;
  background-color: rgba(0, 0, 0, 0.37);
}
.main .guia {
  width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.main .guia .boss {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}
.main .guia .boss img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .boss-doble {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}
.main .guia .boss-doble img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .boss-var {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}
.main .guia .boss-var img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .jefe-datos-var {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .guia .jefe-datos-var li {
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style-type: none;
}
.main .guia .jefe-datos {
  display: flex;
  flex-direction: column;
}
.main .guia .jefe-datos li {
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style-type: none;
}
.main .guia h2 {
  padding: 20px;
  font-size: xx-large;
}
.main .guia p {
  margin: 10px;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main .guia b {
  color: #37b1cf;
}
.main .guia img {
  margin: 20px;
  width: 500px;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0px -9px 17px 20px rgba(17, 192, 223, 0.37);
}
.main .guia img :hover {
  transform: scale(1.5);
}
.main .guia strong {
  color: red;
}
.main .guia h4 {
  font-size: x-large;
  margin: 15px 0px 15px 0px;
}
.main .guia h5 {
  color: red;
  font-size: larger;
}
.main .guia a {
  color: rgb(101, 138, 134);
  text-decoration: underline;
  margin-bottom: 40px;
}
.main .guia a :hover {
  color: rgb(138, 102, 101);
}
.main .nav_aside {
  display: flex;
  margin: 5px 0px 0px 0px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(68, 122, 134, 0.63);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  float: left;
}
.main .nav_aside nav .disc2 {
  margin-top: 20px;
}
.main .nav_aside nav .disc3 {
  margin-top: 20px;
}
.main .nav_aside nav .disc4 {
  margin-top: 20px;
}
.main .nav_aside nav li {
  margin: 0px 0px 5px 0px;
  list-style: none;
}
.main .nav_aside nav h3 {
  margin-bottom: 8px;
  font-size: x-large;
}
.main .nav_aside nav a {
  color: white;
  text-decoration: none;
}
.main .nav_aside nav a :hover {
  color: rgb(72, 177, 166);
  transition: all 0.4s;
}

.main_personajes {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px;
  background-image: url("/resources/images/corcho.jpg");
  filter: brightness(50%);
}
.main_personajes .grilla_personajes {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 400px 400px;
  gap: 0px 0px;
  grid-template-areas: "Squall Squall Zell Zell Selphie Selphie" "Irvine Irvine Rinoa Rinoa Quistis Quistis";
  justify-items: center;
  align-items: center;
}
.main_personajes .Squall {
  grid-area: Squall;
}
.main_personajes .Zell {
  grid-area: Zell;
}
.main_personajes .Selphie {
  grid-area: Selphie;
}
.main_personajes .Irvine {
  grid-area: Irvine;
}
.main_personajes .Rinoa {
  grid-area: Rinoa;
}
.main_personajes .Quistis {
  grid-area: Quistis;
}
.main_personajes img {
  width: 180px;
}
.main_personajes .Squall {
  transform: rotate(345deg);
  box-shadow: -20px 13px 20px 4px;
}
.main_personajes .Zell {
  transform: rotate(10deg);
  box-shadow: 20px 13px 20px 4px;
}
.main_personajes .Selphie {
  transform: rotate(355deg);
  box-shadow: -20px 5px 20px 4px;
}
.main_personajes .Irvine {
  transform: rotate(7deg);
  box-shadow: -19px 20px 20px 4px;
}
.main_personajes .Rinoa {
  transform: rotate(347deg);
  box-shadow: -20px 8px 20px 4px;
}
.main_personajes .Quistis {
  transform: rotate(14deg);
  box-shadow: -16px 20px 20px 4px;
}

.footer {
  max-width: 1200px;
  margin: auto;
  background-color: rgba(68, 122, 134, 0.63);
  color: white;
  box-shadow: 1px -10px 19px 10px black;
}
.footer p {
  padding: 20px;
}/*# sourceMappingURL=style.css.map */