@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.luz, .nav_aside nav a :hover, .main .guia .siguiente-anterior a :hover {
  color: rgb(72, 177, 166);
  transition: all 0.4s;
}

.datosjefe, .main .guia .boss {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}

.datosjefe2, .main .guia .boss-var {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}

.datosjefedoble, .main .guia .boss-doble {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  line-height: var(--bs-body-line-height) 0;
}

body {
  background-image: url("../resources/images/balambwallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.911);
}

.header div nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 3px 14px 4px;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(68, 122, 134, 0.63);
  font-family: "Karla", sans-serif;
}
.header div nav img {
  width: 180px;
  padding-right: 150px;
}
.header div nav ul {
  display: flex;
  width: 700px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 50px;
}
.header div nav ul li {
  font-weight: bolder;
  list-style: none;
  color: white;
  font-size: large;
  letter-spacing: 3px;
}
.header div nav ul a {
  color: white;
  text-decoration: none;
}
.header div nav ul a :hover {
  color: rgb(72, 177, 166);
  transition: all 0.4s;
}

.main {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px;
  background-color: rgba(0, 0, 0, 0.37);
}
.main .guia {
  width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: "Karla", sans-serif;
}
.main .guia .boss img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .boss-doble img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .boss-var img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .jefe-datos-var {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .guia .jefe-datos-var li {
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
  font-family: "Merriweather", serif;
  list-style-type: none;
}
.main .guia .jefe-datos {
  display: flex;
  flex-direction: column;
}
.main .guia .jefe-datos li {
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
  font-family: "Merriweather", serif;
  list-style-type: none;
}
.main .guia h1 {
  margin-top: 30px;
}
.main .guia h2 {
  padding: 20px;
  font-size: xx-large;
}
.main .guia p {
  margin: 10px;
  padding: 20px;
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
}
.main .guia b {
  color: #6de2ff;
}
.main .guia img {
  margin: 20px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px -9px 17px 20px rgba(17, 192, 223, 0.37);
}
.main .guia strong {
  color: rgb(250, 51, 51);
}
.main .guia h4 {
  font-size: x-large;
  margin: 15px 0px 15px 0px;
}
.main .guia h5 {
  color: red;
  font-size: larger;
}
.main .guia .siguiente-anterior {
  display: flex;
  flex-wrap: wrap;
}
.main .guia .siguiente-anterior a {
  color: rgb(46, 167, 154);
  margin-bottom: 40px;
  text-decoration: none;
}
.nav_aside {
  display: flex;
  margin: 5px 0px 0px 0px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(68, 122, 134, 0.63);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  float: left;
  font-family: "Karla", sans-serif;
}
.nav_aside nav .disc2 {
  margin-top: 20px;
}
.nav_aside nav .disc3 {
  margin-top: 20px;
}
.nav_aside nav .disc4 {
  margin-top: 20px;
}
.nav_aside nav li {
  margin: 0px 0px 5px 0px;
  list-style: none;
}
.nav_aside nav h3 {
  margin-bottom: 8px;
  font-size: x-large;
}
.nav_aside nav a {
  color: white;
  text-decoration: none;
}
.main_personajes {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px;
  background-image: url("../resources/images/corcho22.webp");
  border: 5px solid black;
}
.main_personajes .grilla_personajes {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 400px 400px 300px 300px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Squall Squall Zell Zell Selphie Selphie" "Irvine Irvine Rinoa Rinoa Quistis Quistis" "Laguna Laguna Kyros Kyros Ward Ward" "Seifer Seifer Seifer Edea Edea Edea";
  align-items: center;
  justify-items: center;
}
.main_personajes .grilla_personajes .Squall {
  grid-area: Squall;
}
.main_personajes .grilla_personajes .Zell {
  grid-area: Zell;
}
.main_personajes .grilla_personajes .Selphie {
  grid-area: Selphie;
}
.main_personajes .grilla_personajes .Irvine {
  grid-area: Irvine;
}
.main_personajes .grilla_personajes .Rinoa {
  grid-area: Rinoa;
}
.main_personajes .grilla_personajes .Quistis {
  grid-area: Quistis;
}
.main_personajes .grilla_personajes .Laguna {
  grid-area: Laguna;
}
.main_personajes .grilla_personajes .Kyros {
  grid-area: Kyros;
}
.main_personajes .grilla_personajes .Ward {
  grid-area: Ward;
}
.main_personajes .grilla_personajes .Seifer {
  grid-area: Seifer;
}
.main_personajes .grilla_personajes .Edea {
  grid-area: Edea;
}
.main_personajes .grilla_personajes img {
  width: 180px;
}
.main_personajes .grilla_personajes .Squall {
  transform: rotate(345deg);
  box-shadow: -20px 13px 20px 4px;
}
.main_personajes .grilla_personajes .Zell {
  transform: rotate(10deg);
  box-shadow: 20px 13px 20px 4px;
  margin-top: 100px;
}
.main_personajes .grilla_personajes .Selphie {
  transform: rotate(355deg);
  box-shadow: -20px 5px 20px 4px;
}
.main_personajes .grilla_personajes .Irvine {
  transform: rotate(7deg);
  box-shadow: -19px 20px 20px 4px;
}
.main_personajes .grilla_personajes .Rinoa {
  transform: rotate(347deg);
  box-shadow: -20px 8px 20px 4px;
  margin-top: 50px;
}
.main_personajes .grilla_personajes .Quistis {
  transform: rotate(14deg);
  box-shadow: -16px 20px 20px 4px;
}
.main_personajes .grilla_personajes .Laguna {
  transform: rotate(15deg);
  box-shadow: 20px 13px 20px 4px;
  margin-bottom: 50px;
}
.main_personajes .grilla_personajes .Kyros {
  transform: rotate(5deg);
  box-shadow: -20px 8px 20px 4px;
  margin-top: 30px;
}
.main_personajes .grilla_personajes .Ward {
  transform: rotate(340deg);
  box-shadow: -20px 8px 20px 4px;
}
.main_personajes .grilla_personajes .Seifer {
  transform: rotate(10deg);
  box-shadow: 20px 13px 20px 4px;
  margin-bottom: 50px;
}
.main_personajes .grilla_personajes .Edea {
  transform: rotate(355deg);
  box-shadow: 20px 13px 20px 4px;
}

.main_FanArt {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px;
  background-color: rgba(0, 0, 0, 0.425);
  padding-top: 20px;
  padding-bottom: 30px;
}
.main_FanArt .Fan-Art {
  display: grid;
  grid-template-columns: 372px 150px 161px;
  grid-template-rows: 319px 198px 457px 426px 498px 732px 481px;
  grid-template-areas: "img1 Img2 Img2 img5" "img1 img3 img4 img5" "img6 img8 img8 img9" "img7 img7 img10 img10" "img11 img11 img12 img12" "img13 img13 img15 img15" "img16 img16 img17 img17";
  overflow: hidden;
}
.main_FanArt .Fan-Art div {
  overflow: hidden;
  border-radius: 50px;
  padding: 20px;
}
.main_FanArt .Fan-Art div img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.main_FanArt .Fan-Art .img1 {
  grid-area: img1;
}
.main_FanArt .Fan-Art .Img2 {
  grid-area: Img2;
}
.main_FanArt .Fan-Art .img3 {
  grid-area: img3;
}
.main_FanArt .Fan-Art .img4 {
  grid-area: img4;
}
.main_FanArt .Fan-Art .img5 {
  grid-area: img5;
}
.main_FanArt .Fan-Art .img6 {
  grid-area: img6;
}
.main_FanArt .Fan-Art .img7 {
  grid-area: img7;
}
.main_FanArt .Fan-Art .img8 {
  grid-area: img8;
}
.main_FanArt .Fan-Art .img9 {
  grid-area: img9;
}
.main_FanArt .Fan-Art .img10 {
  grid-area: img10;
}
.main_FanArt .Fan-Art .img11 {
  grid-area: img11;
}
.main_FanArt .Fan-Art .img12 {
  grid-area: img12;
}
.main_FanArt .Fan-Art .img13 {
  grid-area: img13;
}
.main_FanArt .Fan-Art .img15 {
  grid-area: img15;
}
.main_FanArt .Fan-Art .img16 {
  grid-area: img16;
}
.main_FanArt .Fan-Art .img17 {
  grid-area: img17;
}
.main_FanArt .Fan-Art .img18 {
  grid-area: img18;
}
.main_FanArt .Fan-Art .laguna-solo {
  box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
}
.main_FanArt .Fan-Art .rinoa-sola {
  box-shadow: 0px 0px 20px 11px #1B62B0;
}
.main_FanArt .Fan-Art .squall-solo {
  box-shadow: 0px 0px 20px 2px rgb(173, 53, 53);
}
.main_FanArt .Fan-Art .seifer-solo {
  box-shadow: 0px 0px 10px 2px rgb(21, 250, 0);
}
.main_FanArt .Fan-Art .todos2 {
  box-shadow: 0px 0px 20px 3px rgb(240, 129, 3);
}
.main_FanArt .Fan-Art .edea-sola {
  box-shadow: 0px 0px 20px 5px #daaf7c;
}
.main_FanArt .Fan-Art .todos3 {
  box-shadow: 0px 0px 20px 3px rgb(255, 255, 255);
}
.main_FanArt .Fan-Art .laguna-kyros-ward {
  box-shadow: 0px 0px 20px 3px #ffffff;
}
.main_FanArt .Fan-Art .selphie-sola {
  box-shadow: 0px 0px 20px 11px #661543;
}
.main_FanArt .Fan-Art .seifer-viento-trueno {
  box-shadow: 0px 0px 20px 3px rgb(255, 255, 255);
}
.main_FanArt .Fan-Art .quistis-sola {
  box-shadow: 0px 0px 20px 11px #846ab6;
}
.main_FanArt .Fan-Art .todos4 {
  box-shadow: 0px 0px 20px 4px #368D91;
}
.main_FanArt .Fan-Art .ff8-chicas {
  box-shadow: 0px 0px 20px 11px rgb(255, 255, 255);
}
.main_FanArt .Fan-Art .seeds {
  box-shadow: 0px 0px 20px 11px rgb(183, 0, 255);
}
.main_FanArt .Fan-Art .todos5 {
  box-shadow: 0px 0px 20px 11px rgb(253, 104, 4);
}
.main_FanArt .Fan-Art .zell-solo {
  box-shadow: 0px 0px 20px 11px rgb(255, 255, 255);
}

.footer {
  max-width: 1200px;
  margin: auto;
  background-color: rgba(68, 122, 134, 0.63);
  color: white;
  box-shadow: 1px -10px 19px 10px black;
  font-family: "Merriweather", serif;
}
.footer p {
  padding: 20px;
}/*# sourceMappingURL=style.css.map */