@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.luz, .footer nav ul a :hover, .nav_aside nav a :hover, .main .guia .siguiente-anterior a :hover {
  color: rgb(72, 177, 166);
  transition: all 0.4s;
}

.polaroid, .main_personajes .grilla_personajes .Edea :hover, .main_personajes .grilla_personajes .Seifer :hover, .main_personajes .grilla_personajes .Ward :hover, .main_personajes .grilla_personajes .Kyros :hover, .main_personajes .grilla_personajes .Laguna :hover, .main_personajes .grilla_personajes .Quistis :hover, .main_personajes .grilla_personajes .Rinoa :hover, .main_personajes .grilla_personajes .Irvine :hover, .main_personajes .grilla_personajes .Selphie :hover, .main_personajes .grilla_personajes .Zell :hover, .main_personajes .grilla_personajes .Squall :hover {
  box-shadow: -20px 13px 20px 4px rgb(0, 0, 0);
  transform: scale(1.1);
  filter: brightness(100%);
}

.datosjefe, .main .guia .boss {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}

.datosjefe2, .main .guia .boss-var {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}

.datosjefedoble, .main .guia .boss-doble {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px -2px 12px 20px rgba(17, 192, 223, 0.199);
  border-radius: 20px;
  background-color: rgba(27, 197, 209, 0.116);
  margin: 0px 20px 0px 45px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  line-height: var(--bs-body-line-height) 0;
}

body {
  background-image: url("../resources/images/balambwallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.911);
}

.header div nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 3px 14px 4px;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(10, 10, 10, 0.466);
  font-family: "Karla", sans-serif;
}
.header div nav img {
  width: 180px;
  padding-right: 150px;
}
.header div nav ul {
  display: flex;
  width: 700px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 50px;
}
.header div nav ul li {
  font-weight: bolder;
  list-style: none;
  color: white;
  font-size: large;
  letter-spacing: 3px;
}
.header div nav ul a {
  color: white;
  text-decoration: none;
}
.header div nav ul a :hover {
  color: rgb(72, 177, 166);
  transition: all 0.4s;
}

.main {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px;
  background-color: rgba(0, 0, 0, 0.37);
}
.main .guia {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: "Karla", sans-serif;
}
.main .guia .boss img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .boss-doble img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .boss-var img {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px solid black;
}
.main .guia .jefe-datos-var {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .guia .jefe-datos-var li {
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
  font-family: "Merriweather", serif;
  list-style-type: none;
}
.main .guia .jefe-datos {
  display: flex;
  flex-direction: column;
}
.main .guia .jefe-datos li {
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
  font-family: "Merriweather", serif;
  list-style-type: none;
}
.main .guia h1 {
  margin-top: 30px;
}
.main .guia h2 {
  padding: 20px;
  font-size: xx-large;
}
.main .guia p {
  margin: 10px;
  padding: 20px;
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
.main .guia b {
  color: #6de2ff;
}
.main .guia img {
  margin: 20px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px -9px 17px 20px rgba(17, 192, 223, 0.37);
}
.main .guia strong {
  color: rgb(250, 51, 51);
}
.main .guia h4 {
  font-size: x-large;
  margin: 15px 0px 15px 0px;
}
.main .guia h5 {
  color: red;
  font-size: larger;
}
.main .guia a {
  color: rgb(46, 167, 154);
  margin-bottom: 40px;
  text-decoration: none;
}
.main .guia .siguiente-anterior {
  display: flex;
  flex-wrap: wrap;
}
.main .guia .siguiente-anterior a {
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  text-decoration: none;
}
.main_contacto {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.37);
  font-family: "Merriweather", serif;
  color: rgb(255, 255, 255);
}
.main_contacto h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 32px 0px 6px 0px;
}
.main_contacto h4 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0px 0px 64px 0px;
}
.main_contacto section .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 0px 60px 0px;
  height: 481px;
  justify-content: space-between;
}

.nav_aside {
  display: flex;
  margin: 5px 0px 0px 0px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(10, 10, 10, 0.322);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  float: right;
  font-family: "Karla", sans-serif;
  width: 200px;
}
.nav_aside nav .disc2 {
  margin-top: 20px;
}
.nav_aside nav .disc3 {
  margin-top: 20px;
}
.nav_aside nav .disc4 {
  margin-top: 20px;
}
.nav_aside nav li {
  margin: 0px 0px 5px 0px;
  list-style: none;
}
.nav_aside nav h3 {
  margin-bottom: 8px;
  font-size: x-large;
}
.nav_aside nav a {
  color: white;
  text-decoration: none;
}
.main_personajes {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px;
  background-image: url("../resources/images/corcho2.webp");
  border: 5px solid rgba(0, 0, 0, 0.404);
}
.main_personajes .grilla_personajes {
  display: grid;
  grid-template-columns: 227px 200px 200px 200px 200px 200px;
  grid-template-rows: 323px 400px 300px 366px;
  grid-template-areas: "Squall Squall Zell Zell Selphie Selphie" "Irvine Irvine Rinoa Rinoa Quistis Quistis" "Laguna Laguna Kyros Kyros Ward Ward" "Seifer Seifer Seifer Edea Edea Edea";
  align-items: center;
  justify-items: center;
}
.main_personajes .grilla_personajes .Squall {
  grid-area: Squall;
}
.main_personajes .grilla_personajes .Zell {
  grid-area: Zell;
}
.main_personajes .grilla_personajes .Selphie {
  grid-area: Selphie;
}
.main_personajes .grilla_personajes .Irvine {
  grid-area: Irvine;
}
.main_personajes .grilla_personajes .Rinoa {
  grid-area: Rinoa;
}
.main_personajes .grilla_personajes .Quistis {
  grid-area: Quistis;
}
.main_personajes .grilla_personajes .Laguna {
  grid-area: Laguna;
}
.main_personajes .grilla_personajes .Kyros {
  grid-area: Kyros;
}
.main_personajes .grilla_personajes .Ward {
  grid-area: Ward;
}
.main_personajes .grilla_personajes .Seifer {
  grid-area: Seifer;
}
.main_personajes .grilla_personajes .Edea {
  grid-area: Edea;
}
.main_personajes .grilla_personajes img {
  width: 180px;
  transition: all 0.2s;
  filter: brightness(60%);
}
.main_personajes .grilla_personajes .Squall {
  transform: rotate(345deg);
  box-shadow: -20px 13px 20px 4px;
  background-color: rgb(0, 0, 0);
}
.main_personajes .grilla_personajes .Zell {
  transform: rotate(10deg);
  box-shadow: 20px 13px 20px 4px;
  margin-top: 100px;
  background-color: black;
}
.main_personajes .grilla_personajes .Selphie {
  transform: rotate(355deg);
  box-shadow: -20px 5px 20px 4px;
  background-color: black;
}
.main_personajes .grilla_personajes .Irvine {
  transform: rotate(7deg);
  box-shadow: -19px 20px 20px 4px;
  background-color: black;
}
.main_personajes .grilla_personajes .Rinoa {
  transform: rotate(347deg);
  box-shadow: -20px 8px 20px 4px;
  margin-top: 50px;
  background-color: black;
}
.main_personajes .grilla_personajes .Quistis {
  transform: rotate(14deg);
  box-shadow: -16px 20px 20px 4px;
  background-color: black;
}
.main_personajes .grilla_personajes .Laguna {
  transform: rotate(15deg);
  box-shadow: 20px 13px 20px 4px;
  margin-bottom: 50px;
  background-color: black;
}
.main_personajes .grilla_personajes .Kyros {
  transform: rotate(5deg);
  box-shadow: -20px 8px 20px 4px;
  margin-top: 30px;
  background-color: black;
}
.main_personajes .grilla_personajes .Ward {
  transform: rotate(340deg);
  box-shadow: -20px 8px 20px 4px;
  background-color: black;
}
.main_personajes .grilla_personajes .Seifer {
  transform: rotate(10deg);
  box-shadow: 20px 13px 20px 4px;
  margin-bottom: 50px;
  background-color: black;
}
.main_personajes .grilla_personajes .Edea {
  transform: rotate(355deg);
  box-shadow: 20px 13px 20px 4px;
  background-color: black;
}
.main_FanArt {
  max-width: 1200px;
  margin: auto;
  box-shadow: -1px 5px 13px 4px;
  background-color: rgba(0, 0, 0, 0.425);
  padding-top: 20px;
  padding-bottom: 30px;
}
.main_FanArt .Fan-Art {
  display: grid;
  grid-template-columns: 372px 150px 161px;
  grid-template-rows: 319px 198px 457px 426px 498px 732px 481px;
  grid-template-areas: "img1 Img2 Img2 img5" "img1 img3 img4 img5" "img6 img8 img8 img9" "img7 img7 img10 img10" "img11 img11 img12 img12" "img13 img13 img15 img15" "img16 img16 img17 img17";
  overflow: hidden;
}
.main_FanArt .Fan-Art div {
  overflow: hidden;
  border-radius: 50px;
  padding: 20px;
}
.main_FanArt .Fan-Art div img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.main_FanArt .Fan-Art .img1 {
  grid-area: img1;
}
.main_FanArt .Fan-Art .Img2 {
  grid-area: Img2;
}
.main_FanArt .Fan-Art .img3 {
  grid-area: img3;
}
.main_FanArt .Fan-Art .img4 {
  grid-area: img4;
}
.main_FanArt .Fan-Art .img5 {
  grid-area: img5;
}
.main_FanArt .Fan-Art .img6 {
  grid-area: img6;
}
.main_FanArt .Fan-Art .img7 {
  grid-area: img7;
}
.main_FanArt .Fan-Art .img8 {
  grid-area: img8;
}
.main_FanArt .Fan-Art .img9 {
  grid-area: img9;
}
.main_FanArt .Fan-Art .img10 {
  grid-area: img10;
}
.main_FanArt .Fan-Art .img11 {
  grid-area: img11;
}
.main_FanArt .Fan-Art .img12 {
  grid-area: img12;
}
.main_FanArt .Fan-Art .img13 {
  grid-area: img13;
}
.main_FanArt .Fan-Art .img15 {
  grid-area: img15;
}
.main_FanArt .Fan-Art .img16 {
  grid-area: img16;
}
.main_FanArt .Fan-Art .img17 {
  grid-area: img17;
}
.main_FanArt .Fan-Art .img18 {
  grid-area: img18;
}
.main_FanArt .Fan-Art .laguna-solo {
  box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
}
.main_FanArt .Fan-Art .rinoa-sola {
  box-shadow: 0px 0px 20px 11px #1B62B0;
}
.main_FanArt .Fan-Art .squall-solo {
  box-shadow: 0px 0px 20px 2px rgb(173, 53, 53);
}
.main_FanArt .Fan-Art .seifer-solo {
  box-shadow: 0px 0px 10px 2px rgb(21, 250, 0);
}
.main_FanArt .Fan-Art .todos2 {
  box-shadow: 0px 0px 20px 3px rgb(240, 129, 3);
}
.main_FanArt .Fan-Art .edea-sola {
  box-shadow: 0px 0px 20px 5px #daaf7c;
}
.main_FanArt .Fan-Art .todos3 {
  box-shadow: 0px 0px 20px 3px rgb(255, 255, 255);
}
.main_FanArt .Fan-Art .laguna-kyros-ward {
  box-shadow: 0px 0px 20px 3px #ffffff;
}
.main_FanArt .Fan-Art .selphie-sola {
  box-shadow: 0px 0px 20px 11px #661543;
}
.main_FanArt .Fan-Art .seifer-viento-trueno {
  box-shadow: 0px 0px 20px 3px rgb(255, 255, 255);
}
.main_FanArt .Fan-Art .quistis-sola {
  box-shadow: 0px 0px 20px 11px #846ab6;
}
.main_FanArt .Fan-Art .todos4 {
  box-shadow: 0px 0px 20px 4px #368D91;
}
.main_FanArt .Fan-Art .ff8-chicas {
  box-shadow: 0px 0px 20px 11px rgb(255, 255, 255);
}
.main_FanArt .Fan-Art .seeds {
  box-shadow: 0px 0px 20px 11px rgb(183, 0, 255);
}
.main_FanArt .Fan-Art .todos5 {
  box-shadow: 0px 0px 20px 11px rgb(253, 104, 4);
}
.main_FanArt .Fan-Art .zell-solo {
  box-shadow: 0px 0px 20px 11px rgb(255, 255, 255);
}

.footer {
  max-width: 1200px;
  margin: auto;
  background-color: rgba(10, 10, 10, 0.63);
  color: white;
  box-shadow: 1px -10px 19px 10px black;
  font-family: "Merriweather", serif;
}
.footer .fa-brands {
  margin-left: 585px;
  box-shadow: -1px 0px 20px 10px;
  background-color: #03ffff;
}
.footer p {
  padding: 29px 0px 12px 25px;
  color: rgb(46, 167, 154);
}
.footer nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 15px;
}
.footer nav ul li {
  list-style: none;
}
.footer nav ul a {
  color: white;
  text-decoration: none;
}
@media (max-width: 800px) {
  .main .guia p {
    text-align: center;
    font-size: large;
  }
  .header div nav {
    padding-bottom: 10px;
  }
  .header div nav img {
    padding: 0px;
  }
  .header div nav ul {
    justify-content: space-evenly;
    padding: 0px;
  }
  .nav_aside {
    display: none;
  }
  .main_personajes {
    max-width: 900px;
    width: 752px;
  }
  .main_personajes .grilla_personajes {
    grid-template-columns: 90px 153px 69px 200px 141px 96px;
  }
  .main_FanArt .Fan-Art {
    grid-template-columns: 204px 162px 167px;
    grid-template-rows: 280px 203px 435px 339px 460px 465px 355px;
    align-items: center;
    justify-items: center;
  }
  .footer p {
    text-align: center;
  }
  .footer .fa-brands {
    margin-left: 363px !important;
  }
}
@media (max-width: 500px) {
  .main {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .main .guia {
    align-items: stretch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.568);
    width: 750px;
  }
  .main .guia p {
    font-size: x-large;
    width: 650px;
    text-align: center;
  }
  .main .guia img {
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 79px;
  }
  .main .guia iframe {
    margin-left: auto;
    margin-right: auto;
  }
  .main .guia h5 {
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    padding-bottom: 20px;
  }
  .main .guia .siguiente-anterior {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    width: 327px;
  }
  .main .guia .siguiente-anterior p {
    height: 100px;
    margin-bottom: 0px;
  }
  .main_contacto {
    box-shadow: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 740px;
  }
  .header div nav {
    flex-direction: column;
    box-shadow: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  .header div nav img {
    padding: 0px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .header div nav ul {
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
    width: 749px;
    box-shadow: -1px 3px 20px 13px rgba(17, 192, 223, 0.37);
  }
  .footer {
    box-shadow: 0px -10px 13px 3px rgba(17, 192, 223, 0.37) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    width: 750px;
  }
  .footer p {
    text-align: center;
  }
  .footer .fa-brands {
    margin-left: 363px;
  }
  .main_personajes {
    max-width: 900px;
    width: 740px;
  }
  .main_personajes .grilla_personajes {
    grid-template-columns: 71px 181px 74px 148px 205px 71px;
  }
  .main_FanArt {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px;
  }
  .main_FanArt .Fan-Art {
    grid-template-columns: 183px 161px 191px;
    grid-template-rows: 342px 286px 414px 408px 322px 533px 236px;
    align-items: center;
    justify-items: center;
    width: 743px;
  }
}/*# sourceMappingURL=style.css.map */