@media (max-width:858px){

    .main{

        .guia{

            p{
                text-align: center;
                font-size: large;
                
            }
            .contenido_responsive{
                width: auto;
                display: block;

                h2{
                    text-align: center;
                }
            }
        }
    }

    .header{


        div{
            
            nav{
                padding-bottom: 10px;

            ul{
                justify-content: space-evenly;
                padding: 0px;
            }
         }
        }

    }

    .nav_aside{
        display: none;
    } 

    .main_personajes{

        .grilla_personajes{
            grid-template-columns: 345px auto 346px;

            div{

                img{
                    filter: brightness(100%);
                    width: 150px;
            }
        }
    }
}

    .main_FanArt{
        
        .Fan-Art{
            grid-template-columns: 220px 220px 150px 220px;
            grid-template-rows: 427px 209px 572px 350px 601px 553px 411px;
        align-items: center;
        justify-items: center;
    
            
        div{

                img{
                    filter: brightness(100%);
                   
                }
            }
        }
    }
    
    .footer{


        p{
            text-align: center;
    }
    .fa-brands{
        margin-left: 363px!important;
    }
}
    
}   

@media (max-width:760px){

    .main{
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);

        

        .guia{
            align-items: stretch;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            background-color: rgba(0, 0, 0, 0.568);
            width: 750px;
            
            p{
                font-size: x-large;
                text-align: center;
                
        }
        img{
            margin: 0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 79px;
        } 

        iframe{
            margin-left: auto;
            margin-right: auto;
        }

        h5{
            margin-right: 100px;
            margin-left: 100px;
            text-align: center;
            padding-bottom: 20px;
            width: auto;
        }


        .siguiente-anterior{
            width: 100px;
            margin-left: auto;
            margin-right: auto;
            flex-wrap: nowrap;
            width: 327px;
        p{
            height: 100px;
            margin-bottom: 0px;
            
            
            
            }
        }
    }   
        .contenido_responsive{
            width: auto;
            display: block;
    }
}
       
.main_contacto{
    box-shadow: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 740px;
    
}

    .header{


        div{

            img{
               width: 746px;
            
            }

            nav{
                flex-direction: column;
                box-shadow: 0px 0px 0px 0px;
                background-color: rgba(0, 0, 0, 0);
            

            ul{
                justify-content: space-evenly;
                padding: 10px 0px 10px 0px;
                width: 749px;
                box-shadow: -1px 3px 20px 13px rgba(17, 192, 223, 0.37);
                

            }
         }
        }

    }
        .footer{
           
            box-shadow: 0px -10px 13px 3px rgba(17, 192, 223, 0.37)!important;
            background-color: rgba(0, 0, 0, 0)!important;
            width: 750px;
            p{
                text-align: center;
        }
        .fa-brands{
            margin-left: 363px;
        }
    }

    .main_personajes{
            width: 740px;

        .grilla_personajes{
            grid-template-columns: 271px auto 272px;
        }
    }
    
    .main_FanArt{
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 0px;
        .Fan-Art{
            grid-template-columns: 183px 161px 191px 200px;
            grid-template-rows: 342px 286px 414px 408px 322px 533px 306px;
            align-items: center;
            justify-items: center;
            width: 743px;
            padding: 0px;
    
        }
    }
}