.footer{
    max-width: 1200px;
    margin: auto;
    background-color: rgba(68, 122, 134, 0.63);
    color: white;
    box-shadow: 1px -10px 19px 10px black;
    font-family: $guia;
    // height: 200px;
        
        p{
            padding: 20px;
    }
}