.footer{
    max-width: 1200px;
    margin: auto;
    background-color: rgba(10, 10, 10, 0.63);
    color: white;
    box-shadow: 1px -10px 19px 10px black;
    font-family: $guia;

    .fa-brands{
        margin-left: 585px;
        box-shadow: -1px 0px 20px 10px;
        background-color: #03ffff;
    }

    p{
        padding: 29px 0px 12px 25px;
        color: rgb(46, 167, 154);
    }
        
    nav{
        
        ul{
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding-top: 15px;
            li{
                list-style: none;
            }

            a{
                color: white;
                text-decoration: none;

                :hover{
                    @extend .luz;
                }
             }
        }
        
    }
}