.main{
    max-width: 1200px;
    margin: auto;
    box-shadow: -1px 5px 13px 4px;
    background-color: rgba(0, 0, 0, 0.37);

    .guia{
        width: 900px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        color: white;

            .boss{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                box-shadow: 2px -2px 12px 20px  rgba(17, 192, 223, 0.199);
                border-radius: 20px;
                background-color: rgba(27, 197, 209, 0.116);
                margin: 0px 20px 0px 45px;

                img{
                    box-shadow: 0px 0px 0px 0px;
                    border-radius: 0px;
                    border: 0px solid black;
            }
        }

            .boss-doble{
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 1px solid #04c5e7;
                box-shadow: 2px -2px 12px 20px  rgba(17, 192, 223, 0.199);
                border-radius: 20px;
                background-color: rgba(27, 197, 209, 0.116);
                margin: 0px 20px 0px 45px;
            
            img{
                box-shadow: 0px 0px 0px 0px;
                border-radius: 0px;
                border: 0px solid black;
            }
        }

            .boss-var{
                display: flex;
                flex-direction: row;
                align-items: center;
                box-shadow: 2px -2px 12px 20px  rgba(17, 192, 223, 0.199);
                border-radius: 20px;
                background-color: rgba(27, 197, 209, 0.116);
                margin: 0px 20px 0px 45px;
                
                img{
                    box-shadow: 0px 0px 0px 0px;
                    border-radius: 0px;
                    border: 0px solid black;
            }
        }

            .jefe-datos-var{
                display: flex;
                flex-direction: column;
                align-items: center;

                li{
                    margin: 20px 0px 20px 0px;
                    padding: 0px 20px 0px 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    list-style-type: none;

                }

            }

            .jefe-datos{
                display: flex;
                flex-direction: column;


                    li{
                        margin: 20px 0px 20px 0px;
                        padding: 0px 20px 0px 20px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        list-style-type: none;

                }
                
        }

            h2{
                padding: 20px;
                font-size: xx-large;
                }

            p{ 
                margin: 10px;
                padding: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                }

            b{
                color: #37b1cf;
                }

            img{ 
                margin: 20px;
                width: 500px;
                border: 1px solid black;
                border-radius: 50px;
                box-shadow: 0px -9px 17px 20px rgba(17, 192, 223, 0.37);
                // transform: rotate(5deg);

                :hover{
                        transform: scale(1.5);
                }
            }

            strong{
                color: red;
            }

            h4{
                font-size: x-large;
                margin: 15px 0px 15px 0px;
            }

            h5{
                color: red;
                font-size: larger;
            }

                
            a{ 
                color: rgb(101, 138, 134);
                text-decoration: underline;
                margin-bottom: 40px;
                
                :hover{
                    color: rgb(138, 102, 101);
                }
        }
}

    .nav_aside{
        display: flex;
        margin: 5px 0px 0px 0px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 20px;
        color: rgb(255, 255, 255);
        background-color: rgba(68, 122, 134, 0.63);
        border: 3px solid rgb(0, 0, 0);
        border-radius: 10px;
        float: left;
        nav{

            .disc2{
                margin-top: 20px;
            }
            .disc3{
                margin-top: 20px; 
            }
            .disc4{
                margin-top: 20px; 
                
            }
            li{
                margin: 0px 0px 5px 0px;
                list-style: none;
            }
            h3{
                margin-bottom: 8px;
                font-size: x-large;

            }
            a{
                color: white;
                text-decoration: none;

            
                :hover{
                    color: rgb(72, 177, 166);
                    transition: all .4s;
                }
        
            }
        }
    }

}   

.main_personajes{
    max-width: 1200px;
    // height: 1000px;
    margin: auto;
    box-shadow: -1px 5px 13px 4px;
    background-image: url('/resources/images/corcho.jpg');
    filter: brightness(50%);
    
    .grilla_personajes {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 200px 200px 200px 200px 200px 200px; 
        grid-template-rows: 400px 400px; 
        gap: 0px 0px; 
        grid-template-areas: 
        "Squall Squall Zell Zell Selphie Selphie"
        "Irvine Irvine Rinoa Rinoa Quistis Quistis";
        justify-items: center;
        align-items: center;  
    }
        .Squall { grid-area: Squall; }
        .Zell { grid-area: Zell; }
        .Selphie { grid-area: Selphie; }
        .Irvine { grid-area: Irvine; }
        .Rinoa { grid-area: Rinoa; }
        .Quistis { grid-area: Quistis; }

      img{
        width: 180px;
      }

      .Squall{
        transform: rotate(345deg);
        box-shadow: -20px 13px 20px 4px;
      }

      .Zell{
        transform: rotate(10deg);
        box-shadow: 20px 13px 20px 4px
      }

      .Selphie{
        transform: rotate(355deg);
        box-shadow: -20px 5px 20px 4px;
      }

      .Irvine{
        transform: rotate(7deg);
        box-shadow: -19px 20px 20px 4px;
      }

      .Rinoa{
        transform: rotate(347deg);
        box-shadow: -20px 8px 20px 4px;
      }

      .Quistis{
        transform: rotate(14deg);
        box-shadow: -16px 20px 20px 4px;
      }
    
}
                
 