.main{
    max-width: 1200px;
    margin: auto;
    box-shadow: -1px 5px 13px 4px;
    background-color: rgba(0, 0, 0, 0.37);

    .guia{
        max-width: 900px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        color: white;
        font-family: $guia-titulo;

            .boss{
                @extend .datosjefe;

                img{
                    box-shadow: 0px 0px 0px 0px;
                    border-radius: 0px;
                    border: 0px solid black;
            }
        }

            .boss-doble{
                @extend .datosjefedoble;
            
            img{
                box-shadow: 0px 0px 0px 0px;
                border-radius: 0px;
                border: 0px solid black;
            }
        }

            .boss-var{
                @extend .datosjefe2;
                
                img{
                    box-shadow: 0px 0px 0px 0px;
                    border-radius: 0px;
                    border: 0px solid black;
            }
        }

            .jefe-datos-var{
                display: flex;
                flex-direction: column;
                align-items: center;

                li{
                    margin: 20px 0px 20px 0px;
                    padding: 0px 20px 0px 20px;
                    font-family: $guia;
                    list-style-type: none;

                }

            }

            .jefe-datos{
                display: flex;
                flex-direction: column;


                    li{
                        margin: 20px 0px 20px 0px;
                        padding: 0px 20px 0px 20px;
                        font-family: $guia;
                        list-style-type: none;

                }
                
        }

            h1{
                margin-top: 30px;
            }

            h2{
                padding: 20px;
                font-size: xx-large;
                }

            p{ 
                margin: 10px;
                padding: 20px;
                font-family: $guia-titulo;
                letter-spacing: 1px;
                text-align: center;
                }

            b{
                color: #6de2ff;
                }

            img{ 
                margin: 20px;
                width: 500px;
                border-radius: 10px;
                box-shadow: 0px -9px 17px 20px rgba(17, 192, 223, 0.37);
            }

            strong{
                color: rgb(250, 51, 51);
            }

            h4{
                font-size: x-large;
                margin: 15px 0px 15px 0px;
            }

            h5{
                color: red;
                font-size: larger;
            }

            a{
                color: rgb(46, 167, 154);
                margin-bottom: 40px;
                text-decoration: none;
            }

             
            .siguiente-anterior{
                display: flex;
                flex-wrap: wrap;
                
            a{ 
                color: rgb(46, 167, 154);
                margin-bottom: 40px;
                text-decoration: none;
                
                :hover{
                    @extend .luz;
                }
            }   
        }
    }
    
    
}

.main_contacto{
        max-width: 1200px;
        margin: auto;
        box-shadow: -1px 5px 13px 4px rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.37);
        font-family: $guia;
        color: rgb(255, 255, 255);
        

    h2{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 32px 0px 6px 0px;
        
    } 
    
    h4{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px 0px 64px 0px;
    }
    section{

        .formulario{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding: 0px 0px 60px 0px;
            height: 481px;
            justify-content: space-between;
        }
    }
}

    .nav_aside{
        display: flex;
        margin: 5px 0px 0px 0px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 20px;
        color: rgb(255, 255, 255);
        background-color: rgba(10, 10, 10, 0.322);
        border: 3px solid rgb(0, 0, 0);
        border-radius: 10px;
        float: right;
        font-family: $guia-titulo;
        width: 200px;
        
        nav{

            .disc2{
                margin-top: 20px;
            }
            .disc3{
                margin-top: 20px; 
            }
            .disc4{
                margin-top: 20px; 
                
            }
            li{
                margin: 0px 0px 5px 0px;
                list-style: none;
            }
            h3{
                margin-bottom: 8px;
                font-size: x-large;

            }

            a{
                color: white;
                text-decoration: none;

                :hover{
                    @extend .luz;
                }
        
            }
        }
    }   

.main_personajes{
    max-width: 1200px;
    margin: auto;
    box-shadow: -1px 5px 13px 4px;
    background-image:  url('../resources/images/corcho22.webp');
    border: 5px solid black;
    
    .grilla_personajes {  

        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px 200px;
        grid-template-rows: 400px 400px 300px 300px;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Squall Squall Zell Zell Selphie Selphie"
          "Irvine Irvine Rinoa Rinoa Quistis Quistis"
          "Laguna Laguna Kyros Kyros Ward Ward"
          "Seifer Seifer Seifer Edea Edea Edea";
          align-items: center;
          justify-items: center;
      
      
      .Squall { grid-area: Squall; }
      
      .Zell { grid-area: Zell; }
      
      .Selphie { grid-area: Selphie; }
      
      .Irvine { grid-area: Irvine; }
      
      .Rinoa { grid-area: Rinoa; }
      
      .Quistis { grid-area: Quistis; }
      
      .Laguna { grid-area: Laguna; }
      
      .Kyros { grid-area: Kyros; }
      
      .Ward { grid-area: Ward; }
      
      .Seifer { grid-area: Seifer; }
      
      .Edea { grid-area: Edea; }

        img{
            width: 180px;
        }
        
        .Squall{
            transform: rotate(345deg);
            box-shadow: -20px 13px 20px 4px;
        }
    
        .Zell{
            transform: rotate(10deg);
            box-shadow: 20px 13px 20px 4px;
            margin-top: 100px;
        }
    
        .Selphie{
            transform: rotate(355deg);
            box-shadow: -20px 5px 20px 4px;
        }
    
        .Irvine{
            transform: rotate(7deg);
            box-shadow: -19px 20px 20px 4px;
        }
    
        .Rinoa{
            transform: rotate(347deg);
            box-shadow: -20px 8px 20px 4px;
            margin-top: 50px;
        }
    
        .Quistis{
            transform: rotate(14deg);
            box-shadow: -16px 20px 20px 4px;
        }

        .Laguna{
            transform: rotate(15deg);
            box-shadow: 20px 13px 20px 4px;
            margin-bottom: 50px;
        }

        .Kyros{
            transform: rotate(5deg);
            box-shadow: -20px 8px 20px 4px;
            margin-top: 30px;
        }

        .Ward{
            transform: rotate(340deg);
            box-shadow: -20px 8px 20px 4px;
        }

        .Seifer{
            transform: rotate(10deg);
            box-shadow: 20px 13px 20px 4px;
            margin-bottom: 50px;
        }
        

        .Edea{
            transform: rotate(355deg);
            box-shadow: 20px 13px 20px 4px;
        }
    
    } 

}

.main_FanArt{
    max-width: 1200px;
    margin: auto;
    box-shadow: -1px 5px 13px 4px;
    background-color: rgba(0, 0, 0, 0.425);
    padding-top: 20px;
    padding-bottom: 30px;
    
    .Fan-Art {  

        display: grid;
        grid-template-columns: 372px 150px 161px;
        grid-template-rows: 319px 198px 457px 426px 498px 732px 481px;
        grid-template-areas:
          "img1 Img2 Img2 img5"
          "img1 img3 img4 img5"
          "img6 img8 img8 img9"
          "img7 img7 img10 img10"
          "img11 img11 img12 img12"
          "img13 img13 img15 img15"
          "img16 img16 img17 img17";
          overflow: hidden;

          div{
            overflow: hidden;
            border-radius: 50px;
            padding: 20px;

        img{
            width: 100%;
            height: 100%;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
          }
        }
      
      
      .img1 { grid-area: img1; }
      
      .Img2 { grid-area: Img2; }
      
      .img3 { grid-area: img3; }
      
      .img4 { grid-area: img4; }
      
      .img5 { grid-area: img5; }
      
      .img6 { grid-area: img6; }
      
      .img7 { grid-area: img7; }
      
      .img8 { grid-area: img8; }
      
      .img9 { grid-area: img9; }
      
      .img10 { grid-area: img10; }
      
      .img11 { grid-area: img11; }
      
      .img12 { grid-area: img12; }
      
      .img13 { grid-area: img13; }
      
      
      .img15 { grid-area: img15; }
      
      .img16 { grid-area: img16; }
      
      .img17 { grid-area: img17; }
      
      .img18 { grid-area: img18; }

        .laguna-solo{
           
            box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
        }  
        .rinoa-sola{
            box-shadow: 0px 0px 20px 11px #1B62B0;
        }  
        .squall-solo{
            
            box-shadow: 0px 0px 20px 2px rgb(173, 53, 53);
        } 
        .seifer-solo{
            box-shadow: 0px 0px 10px 2px rgb(21, 250, 0);
            
        }  
        .todos2{
            
            box-shadow: 0px 0px 20px 3px rgb(240, 129, 3);
            
            
        }   
        .edea-sola{
            
            box-shadow: 0px 0px 20px 5px #daaf7c;
        }
        .todos3{
            box-shadow: 0px 0px 20px 3px rgb(255, 255, 255);
            
        }
        .laguna-kyros-ward{
            box-shadow: 0px 0px 20px 3px #ffffff;
            
        }
        .selphie-sola{
            box-shadow: 0px 0px 20px 11px #661543
            
        }
        .seifer-viento-trueno{
            box-shadow: 0px 0px 20px 3px rgb(255, 255, 255);
            
        }
        .quistis-sola{
            box-shadow: 0px 0px 20px 11px #846ab6;
            
        }
        .todos4{
            box-shadow: 0px 0px 20px 4px #368D91;
            
        }
        .ff8-chicas{
            box-shadow: 0px 0px 20px 11px rgb(255, 255, 255);
            
        }
        
        .seeds{
            box-shadow: 0px 0px 20px 11px rgb(183, 0, 255);
            
        }
        .todos5{
            box-shadow: 0px 0px 20px 11px rgb(253, 104, 4);
            
        }
        .zell-solo{
            box-shadow: 0px 0px 20px 11px rgb(255, 255, 255);
            
        }
        
   } 
} 

@media (max-width:800px){

    .main{

        .guia{

            p{
                text-align: center;
                font-size: large;
                
            }
        }
    }

    .header{


        div{
            
            nav{
                padding-bottom: 10px;
            img{
                padding: 0px;
            
            }

            ul{
                justify-content: space-evenly;
                padding: 0px;
            }
         }
        }

    }

    .nav_aside{
        display: none;
    } 
    .main_personajes{
        max-width: 900px;
        width: 752px;
    .grilla_personajes{
        grid-template-columns: 90px 153px 69px 200px 141px 96px;
        }
    }

    .main_FanArt{
        
        .Fan-Art{
        grid-template-columns: 204px 162px 167px;
        grid-template-rows: 280px 203px 435px 339px 460px 465px 355px;
        align-items: center;
        justify-items: center;
    
        }
    }
    
    .footer{


        p{
            text-align: center;
    }
    .fa-brands{
        margin-left: 363px!important;
    }
}
    
}   

@media (max-width:500px){

    .main{
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);

        .guia{
            align-items: stretch;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            p{
                font-size: x-large;
                width: 650px;
                text-align: center;
                
        }
        img{
            margin: 0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 79px;
        } 

        iframe{
            margin-left: auto;
            margin-right: auto;
        }

        h5{
            margin-right: 100px;
            margin-left: 100px;
            text-align: center;
            padding-bottom: 20px;
        }


        .siguiente-anterior{
            width: 100px;
            margin-left: auto;
            margin-right: auto;
            flex-wrap: nowrap;
            width: 327px;
        p{
            height: 100px;
            margin-bottom: 0px;
            
            
            
        }
    }
    }   
}

.main_contacto{
    box-shadow: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 740px;
    
}

    .header{


        div{
            
            nav{
                flex-direction: column;
                box-shadow: 0px 0px 0px 0px;
                background-color: rgba(0, 0, 0, 0);
            img{
                padding: 0px;
                width: 400px;
                margin-left: auto;
                margin-right: auto;
            
            }

            ul{
                justify-content: space-evenly;
                padding: 10px 0px 10px 0px;
                width: 749px;
                box-shadow: -1px 3px 20px 13px rgba(17, 192, 223, 0.37);
                

            }
         }
        }

    }
        .footer{
           
            box-shadow: 0px -10px 13px 3px rgba(17, 192, 223, 0.37)!important;
            background-color: rgba(0, 0, 0, 0)!important;
            width: 750px;
            p{
                text-align: center;
        }
        .fa-brands{
            margin-left: 363px;
        }
    }

        .main_personajes{
            max-width: 900px;
            width: 740px;
        .grilla_personajes{
            grid-template-columns: 71px 181px 74px 148px 205px 71px;
        }
    }
    
    .main_FanArt{
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 0px;
        .Fan-Art{
            grid-template-columns: 183px 161px 191px;
            grid-template-rows: 342px 286px 414px 408px 322px 533px 236px;
            align-items: center;
            justify-items: center;
            width: 743px;
    
        }
    }
}